<a href="https://colab.research.google.com/github/Kridr/HW_ML_HSE/blob/main/HW1_ML_HSE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание №1

Выполнил: Ляликов Никита, мИИАД22; 28.09.2022

Дата выдачи: 21.09 

Мягкий дедлайн: 1.10 

Жесткий дедлайн: 6.10

Сдавать домашнее задание после жесткого дедлайна нельзя. 
Максимально допустимая оценка за работу - 5 баллов.

In [ ]:
import numpy as np

**Задача 1** 

Подсчитать произведение ненулевых элементов на диагонали прямоугольной матрицы.
Например, для 

`x = np.array([[1, 0, 1], [2, 0, 2], [3, 0, 3], [4, 4, 4]])` ответ – 3.

Решение

In [ ]:
def prod_diag_non_zero(x):
    if x.size == 0:
        return np.nan

    n = np.min(x.shape)
    
    diag = np.array([x[i, i] for i in range(n) if x[i, i] != 0])

    if diag.size == 0:
        return np.nan
    
    return np.prod(diag)

In [ ]:
print('Test 1.', prod_diag_non_zero(np.array([[1, 0, 1], [2, 0, 2], [3, 0, 3], [4, 4, 4]])))
print('Test 2.', prod_diag_non_zero(np.array([[0, 0, 1], [2, 0, 2], [3, 0, 0], [4, 4, 4]])))
print('Test 3.', prod_diag_non_zero(np.array([[1, 0, 1, 1], [2, 0, 2, 1], [3, 0, 0, 1]])))
print('Test 4.', prod_diag_non_zero(np.array([])))

Test 1. 3
Test 2. nan
Test 3. 1
Test 4. nan

**Задача 2**

Даны два вектора x и y. Проверить, задают ли они одно и то же мультимножество.
Например, для 

`x = np.array([1, 2, 2, 4]), y = np.array([4, 2, 1, 2])` ответ – True.

Решение 1 (за O(n*log(n)))

In [ ]:
def is_equal_multisets_var1(x, y):
    x = np.sort(x)
    y = np.sort(y)

    return len(x) == len(y) and np.equal(x, y).all()

In [ ]:
print('Test 1.', is_equal_multisets_var1(np.array([1, 2, 2, 4]), np.array([4, 2, 1, 2])))
print('Test 2.', is_equal_multisets_var1(np.array([1, 2, 4]), np.array([4, 2, 1, 2])))
print('Test 3.', is_equal_multisets_var1(np.array([]), np.array([])))
print('Test 4.', is_equal_multisets_var1(np.array([1, 2, 4]), np.array([3, 1, 2, 3])))

Test 1. True
Test 2. False
Test 3. True
Test 4. False

Решение 2 (за O(n))

In [ ]:
from collections import defaultdict
def is_equal_multisets_var2(x, y):
    d_x = defaultdict(int)
    d_y = defaultdict(int)

    for xi in x:
        d_x[xi] += 1
    for yi in y:
        d_y[yi] += 1

    return d_x == d_y

In [ ]:
print('Test 1.', is_equal_multisets_var2(np.array([1, 2, 2, 4]), np.array([4, 2, 1, 2])))
print('Test 2.', is_equal_multisets_var2(np.array([1, 2, 4]), np.array([4, 2, 1, 2])))
print('Test 3.', is_equal_multisets_var2(np.array([]), np.array([])))
print('Test 4.', is_equal_multisets_var2(np.array([1, 2, 4]), np.array([3, 1, 2, 3])))

Test 1. True
Test 2. False
Test 3. True
Test 4. False

**Задача 3**

Найти максимальный элемент в векторе x среди элементов, перед которыми стоит нулевой.
Например, для 

`x = np.array([6, 2, 0, 3, 0, 0, 5, 7, 0])` ответ – 5.

In [ ]:
def max_before_zero(x):
    arr = np.array([x[i] for i in range(1, len(x)) if x[i-1] == 0])
    if len(arr) == 0:
        return np.nan
    else:
        return np.amax(arr)

In [ ]:
print('Test 1.', max_before_zero(np.array([6, 2, 0, 3, 0, 0, 5, 7, 0])))
print('Test 2.', max_before_zero(np.array([1, 1, 1])))
print('Test 3.', max_before_zero(np.array([0, 0, -1])))
print('Test 3.', max_before_zero(np.array([])))

Test 1. 5
Test 2. nan
Test 3. 0
Test 3. nan